* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base: #FAFAFA;
  --blue:  #2EBCF5;
  --blue2: #2E7EF5;
  --green: #36E63C;
  --red: #F52E2E;
  --shadow-1: 15px 15px 34px #D5D5D5, -15px -15px 34px #ffffff;
  --ease: all 0.3s ease;
  --general: 'Ubuntu', sans-serif;
}

body {
  width: 100vw;
  background-color: var(--base);
  display: flex;
  font-family: var(--general);
}

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 820px;
  padding: 20px;
  margin: 30px 0 60px 0;
  border-radius: 15px;
  box-shadow: var(--shadow-1);
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(45deg, var(--blue), var(--blue2));
}

.inner-box {
  width: 80%;
}

.form {
  width: 100%;
  text-align: center;
}

.text-input {
  width: 80%;
  margin-top: 30px;
  margin-right: 20px;
  padding: 12px;
  border: solid 2px transparent;
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  outline: none;
  transition: var(--ease);
}

.text-input:focus {
  border: solid 2px var(--blue2);
}

.btn {
  border: none;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: var(--shadow-1);
  cursor: pointer;
  outline: none;
  transition: var(--ease);
}

.add-btn {
  padding: 12px 25px;
  background-color: var(--blue);
}

.btn:hover {
  transform: translateY(-3px);
}

.todo-list {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: var(--ease);
}

.todo p {
  width: 75%;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  transition: var(--ease);
}

.todo-btn {
  margin-left: 25px;
  padding: 12px 15px;
  font-size: 18px;
}

.check-btn {
  background-color: var(--green);
}

.trash-btn {
  background-color: var(--red);
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.checked p {
  background-color: var(--green);
}